.window-app {
	font-family: $font-primary;
}
.character-sheet {
	background-color: #fbfbfb;
}
.rollable {
	&:hover,
	&:focus {
		color: #000;
		text-shadow: 0 0 10px red;
		cursor: pointer;
	}
}

.editor-content {
	border: 1px solid gray;
	padding: 0 5px;
	border-radius: 3px;
}
