<form
	class="{{cssClass}} {{actor.type}} character-sheet flexcol"
	autocomplete="off"
>
	{{!-- Sheet Header --}}
	<header class="sheet-header start">
		<img
			class="profile-img"
			src="{{actor.img}}"
			data-edit="img"
			title="{{actor.name}}"
			height="250"
			width="150"
		/>
		<div class="header-fields">
			<h1 class="charname">
				<input
					name="name"
					type="text"
					value="{{actor.name}}"
					placeholder="Name"
				/>
			</h1>
			{{!-- The grid classes are defined in scss/global/_grid.scss. To use, use
			both the "grid" and "grid-Ncol" class where "N" can be any number from 1
			to 12 and will create that number of columns. --}}
			<div class="resources grid grid-3col grid-center-items">
				{{!-- "flex-group-center" is also defined in the _grid.scss file and it
				will add a small amount of padding, a border, and will center all of its
				child elements content and text. --}} {{!-- class="resource flex
				flex-column align-content relative"--}}
				<section class="health-section">
					<div class="heart-display">
						<div class="health-values-display">
							<input
								type="text"
								name="system.health.value"
								value="{{system.health.value}}"
								data-dtype="Number"
							/>
							<input
								type="text"
								name="system.health.max"
								value="{{system.health.max}}"
								data-dtype="Number"
							/>
						</div>
						<img
							class="heart-container"
							;
							src="systems/trouilleville/assets/rough_heart_colored.svg"
							alt="heart container"
						/>
					</div>
					<label for="system.health.value" class="resource-label"
						>{{localize "Health"}}
					</label>
				</section>

				<section class="stats-section grid-start-2 grid-span-3">
					<div class="stat-bloc">
						<div class="stat-display">
							<img
								class="ring-container"
								;
								src="systems/trouilleville/assets/rough_body_ring.svg"
								alt="ring container"
							/>
							<div class="ring-value-display">
								<input
									type="text"
									name="system.body"
									value="{{system.body}}"
									data-dtype="Number"
								/>
							</div>
						</div>
						<label for="system.body.value" class="resource-label"
							>{{localize "Body"}}
						</label>
					</div>
					<div class="stat-bloc">
						<div class="stat-display">
							<img
								class="ring-container"
								;
								src="systems/trouilleville/assets/rough_spirit_ring.svg"
								alt="ring container"
							/>
							<div class="ring-value-display">
								<input
									type="text"
									name="system.spirit"
									value="{{system.spirit}}"
									default=""
									data-dtype="Number"
								/>
							</div>
						</div>
						<label for="system.spirit.value" class="resource-label"
							>{{localize "Spirit"}}
						</label>
					</div>
					<div class="stat-bloc">
						<div class="stat-display">
							<img
								class="ring-container"
								;
								src="systems/trouilleville/assets/rough_scare_ring.svg"
								alt="ring container"
							/>
							<div class="ring-value-display">
								<input
									type="text"
									name="system.scare"
									value="{{system.scare}}"
									data-dtype="Number"
								/>
							</div>
						</div>
						<label for="system.scare.value" class="resource-label"
							>{{localize "Scare"}}
						</label>
					</div>
				</section>
			</div>
			<div class="grid grid-2col grid-center-items">
				<div class="mana flex-column align-center">
					<label for="" class="resource-label">{{localize "Mana"}}</label>
					<div class="mana-stars flex">
						<img
							class="mana-container"
							src="systems/trouilleville/assets/rough_filled_star.svg"
							alt=""
						/><img
							class="mana-container"
							src="systems/trouilleville/assets/rough_filled_star.svg"
							alt=""
						/><img
							class="mana-container"
							src="systems/trouilleville/assets/rough_empty_star.svg"
							alt=""
						/><img
							class="mana-container"
							src="systems/trouilleville/assets/rough_empty_star.svg"
							alt=""
						/><img
							class="mana-container"
							src="systems/trouilleville/assets/rough_empty_star.svg"
							alt=""
						/>
					</div>
				</div>
				<div class="exp flex-column align-center">
					<label for="" class="resource-label"
						>{{localize "Experience"}}
					</label>
					<div class="exp-display flex">
						<div class="exp-point exp-point-1">1</div>
						<div class="exp-point exp-point-2">2</div>
						<div class="exp-point exp-point-3">3</div>
						<div class="exp-point exp-point-4">4</div>
						<div class="exp-point exp-point-5">5</div>
						<div class="exp-point exp-point-6">6</div>
						<div class="exp-point exp-point-7">7</div>
						<div class="exp-point exp-point-8">8</div>
						<div class="exp-point exp-point-9">9</div>
						<div class="exp-point exp-point-10">10</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	{{!-- Sheet Tab Navigation --}}
	<nav class="sheet-tabs tabs" data-group="primary">
		{{!-- Default tab is specified in actor-sheet.mjs --}}
		<a class="item" data-tab="items">Atouts/Sortilèges</a>
		<a class="item" data-tab="spells">Objets</a>
		<a class="item" data-tab="description">Bio</a>
		<a class="item" data-tab="effects">Notes</a>
	</nav>

	{{!-- Sheet Body --}}
	<section class="sheet-body">
		{{!-- Owned Features Tab --}}
		<div class="tab features" data-group="primary" data-tab="features">
			<section class="grid grid-3col">
				<aside class="sidebar">
					{{!-- The grid classes are defined in scss/global/_grid.scss. To use,
					use both the "grid" and "grid-Ncol" class where "N" can be any number
					from 1 to 12 and will create that number of columns. --}}
					<div class="abilities flexcol">
						{{#each system.abilities as |ability key|}}
						<div class="ability flexrow flex-group-center">
							<label
								for="system.abilities.{{key}}.value"
								class="resource-label rollable flexlarge align-left"
								data-roll="d20+@abilities.{{key}}.mod"
								data-label="{{ability.label}}"
								>{{ability.label}}</label
							>
							<input
								type="text"
								name="system.abilities.{{key}}.value"
								value="{{ability.value}}"
								data-dtype="Number"
							/>
							<span
								class="ability-mod rollable"
								data-roll="d20+@abilities.{{key}}.mod"
								data-label="{{ability.label}}"
								>{{numberFormat ability.mod decimals=0 sign=true}}</span
							>
						</div>
						{{/each}}
					</div>
				</aside>

				{{!-- For the main features list, span the right two columns --}}
				<section class="main grid-span-2">
					{{!-- This is a Handlebars partial. They're stored in the `/parts`
					folder next to this sheet, and defined in module/helpers/templates.mjs
					--}} {{>
					"systems/trouilleville/templates/actor/parts/actor-features.html"}}
				</section>
			</section>
		</div>

		{{!-- Biography Tab --}}
		<div class="tab biography" data-group="primary" data-tab="description">
			{{!-- If you want TinyMCE editors to output inline rolls when rendered,
			you need to pass the actor's roll data to the rollData property. --}}
			{{editor system.biography target="system.biography" rollData=rollData
			button=true owner=owner editable=editable}}
		</div>

		{{!-- Owned Items Tab --}}
		<div class="tab items" data-group="primary" data-tab="items">
			{{> "systems/trouilleville/templates/actor/parts/actor-items.html"}}
		</div>

		{{!-- Owned Spells Tab --}}
		<div class="tab spells" data-group="primary" data-tab="spells">
			{{> "systems/trouilleville/templates/actor/parts/actor-spells.html"}}
		</div>

		{{!-- Active Effects Tab --}}
		<div class="tab effects flexcol" data-group="primary" data-tab="effects">
			{{> "systems/trouilleville/templates/actor/parts/actor-effects.html"}}
		</div>
	</section>
</form>
