.item-form {
	font-family: $font-primary;
}

> .window-content {
	background-color: #fbfbfb !important;
	background-image: none;
}

.sheet-header {
	flex: 0 auto;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin-bottom: 10px;

	.profile-img {
		flex: 0 0 100px;
		height: 250px;
		margin-right: 10px;
		aspect-ratio: 1;
		border: none;
	}
	.item-img {
		height: 120px;
		margin-right: 10px;
		aspect-ratio: 1;
		border: none;
	}

	.header-fields {
		flex: 1;
	}

	h1.charname {
		height: 40px;
		input {
			width: 100%;
			height: 100%;
			margin: 0;
			background: #fffff1;
		}
	}
}
.actor .charname {
	padding: 0px;
	margin: 5px 0 -10px;
	border-bottom: 0;
}
header.start {
	align-items: flex-start;
}
.health-section {
	position: relative;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.heart-display {
	position: relative;
	height: 100%;
	display: flex;
	max-height: 90px;
	justify-content: center;
}
.heart-container {
	border: none;
	min-width: 150px;
	min-height: 90px;
	position: absolute;
}
.health-values-display {
	display: flex;
	align-items: center;
	justify-content: space-around;

	input {
		margin-top: -10px;
		border: none;
		background: none;
		font-size: 2em;
		z-index: 1;
	}
	input:nth-child(1) {
		text-align: end;
	}
	input:nth-child(2) {
		text-align: start;
	}
	span {
		width: 20px;
		margin-left: 20px;
	}
}
.stat-bloc {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.stats-section {
	position: relative;
	height: 100%;
	display: flex;
}
.stat-display {
	position: relative;
	display: flex;
	min-height: 90px;
	justify-content: center;
	align-items: center;
}
.dice-icon {
	max-width: 1.5rem;
	align-self: center;
	border: none;
	margin-right: -5px !important;
}
.ring-container {
	border: none;
	position: absolute;
	height: 85% !important;
}
.mana-stars {
	justify-content: center;
}
.mana-container {
	border: none;
	max-width: 1.4rem !important;
}
.exp-display {
	justify-content: center;
	align-items: center;
	gap: 4px;
	height: 64px;
}
.exp-point {
	font-size: 1.2rem;
}
.crossed-line {
	background-image: url(../assets/line.svg);
	background-position: center;
	background-size: cover;
}
.stat-display {
	height: 100%;
	position: relative;
}
.ring-value-display {
	z-index: 1;
	input {
		background: none;
		padding: 10%;
		font-size: 1.5em;
		background: none;
		text-align: center;
		border: none;
	}
}
.weakness {
	.weaknesses {
		flex-direction: column;
		gap: 5px;
		width: 100%;
		input {
			background: #fffff1;
		}
	}
}
.add-minus:hover {
	color: #000;
	text-shadow: 0 0 10px red;
	cursor: pointer;
}
.exp-display.add-minus:hover {
	text-shadow: none;
}
.sheet-tabs {
	flex: 0;
}

.sheet-body,
.sheet-body .tab,
.sheet-body .tab .editor {
	height: 100%;
	padding-bottom: 10px;
}

.story {
	textarea {
		font-family: "Roboto", "sans-serif";
		resize: none;
		font-size: 14px;
		color: var(--color-text-dark-primary);
		background-color: #fbfbfb;
		border: 1px solid gray;
	}
}

.tox {
	.tox-editor-container {
		background: $c-white;
	}

	.tox-edit-area {
		padding: 0 8px;
	}
}

.displayed * {
	display: revert !important;
}
