<form class="{{cssClass}}" autocomplete="off">
	<header class="sheet-header">
		<img class="item-img item" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
		<div class="header-fields">
			<h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
			<div class="grid grid-2col">
				<div class="resource flex align-center">
					<label class="resource-label">{{localize "Quantity"}}</label>
					<input type="text" name="system.quantity" value="{{system.quantity}}" data-dtype="Number" />
				</div>
				<div class="resource flex align-center">
					<label class="resource-label">{{localize "Linked stat"}}</label>
					<select name="system.linked-stat" id="">
						{{#select data.system.linked-stat}}
						<option value="-">-</option>
						<option value="Body">{{localize "Body"}}</option>
						<option value="Spirit">{{localize "Spirit"}}</option>
						<option value="Scare">{{localize "Scare"}}</option>
						{{/select}}
					</select>
				</div>
			</div>
		</div>
	</header>

	{{!-- Sheet Body --}}
	<section class="sheet-body">
		{{!-- Description Tab --}}
		<label for="" class="resource-label">{{localize "Description"}}</label>
		<div class="item-description" data-group="primary" data-tab="description">
			{{!-- To render inline rolls in a TinyMCE editor, you need to pass the parent actor's (if any) roll data to the
			rollData prop. --}} {{editor system.description target="system.description" rollData=rollData button=true
			owner=owner editable=editable}}
		</div>
	</section>
</form>
